ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    background-color:bisque;
    padding-right: 10px;
}
.active-link{
    border: solid red 2px;
    border-radius: 5px;
}